@import './utilities/variables';

@import './base/tipografia';
@import './base/reset';

@import './utilities/mixins';

@import './layout/principal.scss';
@import './layout/header';
@import './layout/main';
@import './layout/footer';

@import './components/banner';
@import './components/target_categoria';
@import './components/target_destacados';
@import './components/figuras_accion';


/*
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
*/


