@import './utilities/variables';

@import './base/tipografia';
@import './base/reset';

@import './utilities/mixins';

@import './layout/principal.scss';
@import './layout/header';
@import './layout/main';



/*
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
*/


