/*

*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&family=Sintony:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }
  html.sr .widget {
    visibility: hidden; }

body {
  margin: 5px 0 0 0;
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  overflow-anchor: auto; }

/*
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

para movil y tablets  horizontal
320 x 480
1024 x 768
*/
header, main, footer {
  position: relative;
  top: 0;
  width: 80%;
  max-width: 1300px;
  margin: auto;
  height: auto; }
  @media screen and (max-width: 1200px) {
    header, main, footer {
      width: 80%; } }
  @media screen and (max-width: 992px) {
    header, main, footer {
      width: 90%; } }
  @media screen and (max-width: 768px) {
    header, main, footer {
      width: 98%; } }
  @media screen and (max-width: 576px) {
    header, main, footer {
      width: 100%; } }

.header {
  position: sticky;
  background: #fff;
  z-index: 2; }
  .header .nav {
    position: relative;
    top: 2px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center; }
    .header .nav .logo {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      width: 150px;
      text-decoration: none;
      font-family: "Poppins", sans-serif;
      font-size: 1rem;
      font-weight: 500;
      color: #ffff;
      text-transform: capitalize;
      color: #FF7C5F;
      font-weight: 800;
      font-size: 1.1rem; }
      .header .nav .logo img {
        height: 2rem;
        width: auto; }
    .header .nav .menu {
      width: calc(100% - 160px);
      height: 100%; }
      .header .nav .menu .list {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 100%; }
        .header .nav .menu .list .item {
          list-style: none; }
          .header .nav .menu .list .item a {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            width: 110px;
            font-family: "Poppins", sans-serif;
            font-size: 1rem;
            font-weight: 500;
            color: #ffff;
            color: #3F3F3F;
            text-transform: capitalize;
            text-decoration: none;
            border: solid 2px transparent;
            border-radius: 30px;
            margin-right: 5px;
            padding: 10px;
            cursor: pointer;
            transition: .5s; }
            .header .nav .menu .list .item a:hover::before {
              content: "";
              position: absolute;
              width: 8px;
              height: 8px;
              bottom: 5px;
              background: #FF7C5F;
              border-radius: 50%; }
              .header .nav .menu .list .item a:hover::before else {
                top: b; }
      .header .nav .menu img {
        display: none; }
    .header .nav .toggle {
      display: none; }
      @media screen and (max-width: 992px) {
        .header .nav .toggle {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          width: 60px;
          height: 100%;
          transition: all .4s ease-in-out;
          display: grid;
          place-content: center; }
          .header .nav .toggle span {
            display: block;
            width: 30px;
            height: 3px;
            border-radius: 100px;
            background: #3F3F3F;
            transition: all .4s ease-in-out; }
            .header .nav .toggle span:not(:last-child) {
              margin-bottom: 7px; } }
    @media screen and (max-width: 992px) {
      .header .nav {
        height: 60px;
        transition: all .5s ease-in-out;
        overflow: hidden; }
        .header .nav .logo {
          background: #444;
          height: 60px;
          width: 200px; }
        .header .nav .toggle {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          width: 60px;
          height: 60px;
          transition: all .4s ease-in-out;
          display: grid;
          place-content: center; }
        .header .nav .menu {
          position: absolute;
          top: 60px;
          width: 100%;
          height: auto; }
          .header .nav .menu .list {
            display: none; }
        .header .nav.active {
          height: 320px;
          transition: .5s;
          background-color: aquamarine; }
          .header .nav.active .toggle {
            transition-delay: .5s; }
            .header .nav.active .toggle span:nth-child(2) {
              width: 0; }
            .header .nav.active .toggle span:nth-child(1), .header .nav.active .toggle span:nth-child(1) {
              transition-delay: .4s; }
            .header .nav.active .toggle span:nth-child(1) {
              rotate: 45deg;
              transform: translate(7px, 7px); }
            .header .nav.active .toggle span:nth-child(3) {
              rotate: -45deg;
              transform: translate(7px, -7px); }
          .header .nav.active .menu {
            position: absolute;
            margin-top: 0px;
            width: 100%;
            height: 500px; }
            .header .nav.active .menu .list {
              display: block;
              width: 100%;
              height: auto;
              list-style: none;
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
              align-content: center;
              justify-content: flex-end;
              align-items: center; }
              .header .nav.active .menu .list .item a {
                position: relative;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: center;
                justify-content: center;
                align-items: center;
                transition: .5s; }
                .header .nav.active .menu .list .item a:hover::before {
                  content: "";
                  position: absolute;
                  width: 8px;
                  height: 8px;
                  bottom: 5px;
                  background: #FF7C5F;
                  border-radius: 10%;
                  width: 100px;
                  transition: width 2s; }
                  .header .nav.active .menu .list .item a:hover::before else {
                    top: b; } }

.main {
  margin-top: 0;
  height: auto; }

.footer {
  top: 0;
  width: 100%;
  height: 300px;
  background: #FFDE62;
  margin: 150px auto 0 auto; }

.banner {
  top: 0;
  width: 100%;
  height: 600px;
  --swiper-navigation-size:20px;
  --swiper-theme-color: #FF7C5F; }
  .banner .envoltura_art {
    width: 100%;
    height: 100%;
    gap: 20px 0; }
    .banner .envoltura_art .art_princial {
      margin-top: 50px;
      width: 100%;
      height: calc(100% - 50px);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: flex-start;
      align-items: center; }
      .banner .envoltura_art .art_princial .caja {
        width: 50%;
        height: 100%;
        overflow: hidden;
        gap: 20px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center; }
        .banner .envoltura_art .art_princial .caja.left {
          height: 90%; }
        @media screen and (max-width: 768px) {
          .banner .envoltura_art .art_princial .caja {
            width: 98%;
            margin: auto;
            gap: 15px 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: flex-start;
            align-items: center; }
            .banner .envoltura_art .art_princial .caja.left {
              height: 40%; }
            .banner .envoltura_art .art_princial .caja.right {
              height: 60%;
              display: flex;
              display: flex;
              flex-direction: column;
              flex-wrap: nowrap;
              align-content: flex-start;
              justify-content: center;
              align-items: flex-start; } }
        .banner .envoltura_art .art_princial .caja .titulo {
          width: 100%;
          font-family: "Poppins", sans-serif;
          font-size: 3.5rem;
          font-weight: 900;
          text-transform: uppercase;
          margin: 0;
          padding: 0; }
          @media screen and (max-width: 768px) {
            .banner .envoltura_art .art_princial .caja .titulo {
              font-size: 2rem; } }
        .banner .envoltura_art .art_princial .caja .precio {
          width: 100%;
          font-family: "Poppins", sans-serif;
          font-size: 2rem;
          margin: 0;
          padding: 0; }
          @media screen and (max-width: 768px) {
            .banner .envoltura_art .art_princial .caja .precio {
              font-size: 1.5rem; } }
        .banner .envoltura_art .art_princial .caja .textos {
          width: 100%;
          font-family: "Sintony", sans-serif;
          font-size: 0.92rem;
          color: #107263;
          font-weight: 700;
          margin: 0;
          padding: 0; }
        .banner .envoltura_art .art_princial .caja a {
          display: block;
          font-family: "Sintony", sans-serif;
          text-decoration: none;
          width: 110px;
          background: #FF7C5F;
          color: #fff;
          padding: 15px;
          text-decoration: none;
          font-weight: 600;
          text-transform: capitalize;
          border-radius: 10px;
          font-size: 1.1rem;
          transition: 0.7s;
          display: grid;
          place-content: center; }
          .banner .envoltura_art .art_princial .caja a:hover {
            background: #3F3F3F;
            color: #FFDE62; }
          @media screen and (max-width: 768px) {
            .banner .envoltura_art .art_princial .caja a {
              font-size: 0.82rem; } }
        .banner .envoltura_art .art_princial .caja .descuento {
          position: absolute;
          width: 55px;
          height: 55px;
          top: 0;
          left: 1px;
          background: #3F3F3F;
          color: #FFDE62;
          font-size: 1.4rem;
          font-weight: 600;
          display: grid;
          place-content: center;
          border-radius: 0 10px 0 10px; }
          .banner .envoltura_art .art_princial .caja .descuento else {
            top: t; }
        .banner .envoltura_art .art_princial .caja img {
          width: 100%;
          height: 100%;
          object-fit: scale-down;
          margin: auto; }
          @media screen and (max-width: 768px) {
            .banner .envoltura_art .art_princial .caja img {
              height: 100%;
              width: auto; } }
  .banner .swiper-button-next,
  .banner .swiper-button-prev {
    position: absolute;
    top: 50%; }

.categorias {
  width: 100%;
  height: auto;
  margin-top: 150px; }
  @media screen and (max-width: 768px) {
    .categorias {
      height: auto; } }
  .categorias h2, .categorias .destacados .cont_destacados .tarjeta .textos_tarjeta h2 a, .destacados .cont_destacados .tarjeta .textos_tarjeta h2 .categorias a {
    width: 100%;
    height: auto;
    text-transform: capitalize;
    display: grid;
    place-content: center;
    font-family: "Poppins", sans-serif;
    color: #FF7C5F;
    font-size: 2.2rem; }
    @media screen and (max-width: 992px) {
      .categorias h2, .categorias .destacados .cont_destacados .tarjeta .textos_tarjeta h2 a, .destacados .cont_destacados .tarjeta .textos_tarjeta h2 .categorias a {
        font-size: 1.98rem; } }
    @media screen and (max-width: 768px) {
      .categorias h2, .categorias .destacados .cont_destacados .tarjeta .textos_tarjeta h2 a, .destacados .cont_destacados .tarjeta .textos_tarjeta h2 .categorias a {
        font-size: 1.65rem; } }
    @media screen and (max-width: 576px) {
      .categorias h2, .categorias .destacados .cont_destacados .tarjeta .textos_tarjeta h2 a, .destacados .cont_destacados .tarjeta .textos_tarjeta h2 .categorias a {
        font-size: 1.54rem; } }
  .categorias .cont_categorias {
    margin-top: 100px;
    width: 100%;
    height: 620px;
    background: rgba(255, 222, 98, 0.7);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .categorias .cont_categorias {
        height: 800px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-between;
        align-items: center; } }
    .categorias .cont_categorias .targeta_simple {
      position: relative;
      width: 32%;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      justify-content: flex-end;
      align-items: center;
      border: solid thin tomato;
      border-radius: 10px; }
      .categorias .cont_categorias .targeta_simple img {
        width: 100%;
        height: 60%;
        object-fit: contain; }
      .categorias .cont_categorias .targeta_simple .textos_target {
        width: 100%;
        height: 30%;
        gap: 10px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center; }
        .categorias .cont_categorias .targeta_simple .textos_target a {
          font-family: "Poppins", sans-serif;
          position: absolute;
          top: 0;
          height: 10%;
          display: grid;
          place-content: center;
          width: 100%;
          height: auto;
          text-transform: capitalize;
          display: grid;
          place-content: center;
          font-family: "Poppins", sans-serif;
          color: #FF7C5F;
          font-size: 1.8rem;
          font-weight: 700; }
          @media screen and (max-width: 992px) {
            .categorias .cont_categorias .targeta_simple .textos_target a {
              font-size: 1.62rem; } }
          @media screen and (max-width: 768px) {
            .categorias .cont_categorias .targeta_simple .textos_target a {
              font-size: 1.35rem; } }
          @media screen and (max-width: 576px) {
            .categorias .cont_categorias .targeta_simple .textos_target a {
              font-size: 1.26rem; } }
        .categorias .cont_categorias .targeta_simple .textos_target p,
        .categorias .cont_categorias .targeta_simple .textos_target a {
          text-align: center;
          width: 90%;
          text-decoration: none; }
        .categorias .cont_categorias .targeta_simple .textos_target p {
          width: 100%;
          height: auto;
          text-transform: capitalize;
          display: grid;
          place-content: center;
          font-family: "Poppins", sans-serif;
          color: #FF7C5F;
          font-size: 1rem;
          font-family: "Sintony", sans-serif;
          color: #107263;
          font-weight: 400; }
          @media screen and (max-width: 992px) {
            .categorias .cont_categorias .targeta_simple .textos_target p {
              font-size: 0.9rem; } }
          @media screen and (max-width: 768px) {
            .categorias .cont_categorias .targeta_simple .textos_target p {
              font-size: 0.75rem; } }
          @media screen and (max-width: 576px) {
            .categorias .cont_categorias .targeta_simple .textos_target p {
              font-size: 0.7rem; } }
      @media screen and (max-width: 768px) {
        .categorias .cont_categorias .targeta_simple {
          width: 100%;
          height: 32%; }
          .categorias .cont_categorias .targeta_simple img {
            width: 40%;
            height: 100%; }
          .categorias .cont_categorias .targeta_simple .textos_target {
            width: 60%;
            height: 100%;
            gap: 10px 0; }
            .categorias .cont_categorias .targeta_simple .textos_target a {
              position: relative; }
          .categorias .cont_categorias .targeta_simple.left {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center; }
          .categorias .cont_categorias .targeta_simple.right {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center; } }

.destacados {
  width: 100%;
  height: auto;
  margin: 150px auto 0 auto; }
  @media screen and (max-width: 992px) {
    .destacados {
      width: 90%; } }
  .destacados h2, .destacados .cont_destacados .tarjeta .textos_tarjeta h2 a {
    width: 100%;
    height: auto;
    text-transform: capitalize;
    display: grid;
    place-content: center;
    font-family: "Poppins", sans-serif;
    color: #FF7C5F;
    font-size: 2.2rem; }
    @media screen and (max-width: 992px) {
      .destacados h2, .destacados .cont_destacados .tarjeta .textos_tarjeta h2 a {
        font-size: 1.98rem; } }
    @media screen and (max-width: 768px) {
      .destacados h2, .destacados .cont_destacados .tarjeta .textos_tarjeta h2 a {
        font-size: 1.65rem; } }
    @media screen and (max-width: 576px) {
      .destacados h2, .destacados .cont_destacados .tarjeta .textos_tarjeta h2 a {
        font-size: 1.54rem; } }
  .destacados .cont_destacados {
    margin-top: 100px;
    width: 100%;
    height: calc(100% - 50px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px 0px;
    justify-items: center; }
    .destacados .cont_destacados .tarjeta1 {
      grid-area: 1 / 1 / 3 / 2; }
    .destacados .cont_destacados .tarjeta2 {
      grid-area: 1 / 2 / 3 / 3; }
    .destacados .cont_destacados .tarjeta3 {
      grid-area: 1 / 3 / 3 / 4; }
    .destacados .cont_destacados .tarjeta4 {
      grid-area: 3 / 1 / 5 / 2; }
    .destacados .cont_destacados .tarjeta5 {
      grid-area: 3 / 2 / 5 / 3; }
    .destacados .cont_destacados .tarjeta6 {
      grid-area: 3 / 3 / 5 / 4; }
    @media screen and (max-width: 992px) {
      .destacados .cont_destacados {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; }
        .destacados .cont_destacados .tarjeta1 {
          grid-area: 1 / 1 / 3 / 2; }
        .destacados .cont_destacados .tarjeta2 {
          grid-area: 1 / 2 / 3 / 3; }
        .destacados .cont_destacados .tarjeta3 {
          grid-area: 3 / 1 / 5 / 2; }
        .destacados .cont_destacados .tarjeta4 {
          grid-area: 3 / 2 / 5 / 3; }
        .destacados .cont_destacados .tarjeta5 {
          grid-area: 5 / 1 / 7 / 2; }
        .destacados .cont_destacados .tarjeta6 {
          grid-area: 5 / 2 / 7 / 3; } }
    @media screen and (max-width: 576px) {
      .destacados .cont_destacados {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; }
        .destacados .cont_destacados .tarjeta1 {
          grid-area: 1 / 1 / 2 / 2; }
        .destacados .cont_destacados .tarjeta2 {
          grid-area: 2 / 1 / 3 / 2; }
        .destacados .cont_destacados .tarjeta3 {
          grid-area: 3 / 1 / 4 / 2; }
        .destacados .cont_destacados .tarjeta4 {
          grid-area: 4 / 1 / 5 / 2; }
        .destacados .cont_destacados .tarjeta5 {
          grid-area: 5 / 1 / 6 / 2; }
        .destacados .cont_destacados .tarjeta6 {
          grid-area: 6 / 1 / 7 / 2; } }
    .destacados .cont_destacados .tarjeta {
      width: 240px;
      height: 350px;
      background: #333;
      border: solid;
      border-radius: 30px;
      padding: 10px;
      border: 0;
      background: rgba(63, 63, 63, 0.9);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(0px);
      -webkit-backdrop-filter: blur(0px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-around;
      align-items: center;
      transition: .7s ease-in-out; }
      .destacados .cont_destacados .tarjeta .producto_imagen {
        width: 100%;
        height: 70%;
        position: relative; }
        .destacados .cont_destacados .tarjeta .producto_imagen .cont_img, .destacados .cont_destacados .tarjeta .producto_imagen .cont_img .imgPrimaria, .destacados .cont_destacados .tarjeta .producto_imagen .cont_img .imgSecundaria {
          display: block;
          position: relative;
          width: 100%;
          height: 100%;
          overflow: hidden;
          transition: .7s; }
          .destacados .cont_destacados .tarjeta .producto_imagen .cont_img .imgPrimaria {
            display: block;
            object-fit: contain;
            opacity: 1;
            transition: .9s ease-in-out; }
          .destacados .cont_destacados .tarjeta .producto_imagen .cont_img .imgSecundaria {
            object-fit: contain;
            opacity: 0;
            display: none;
            transition: .9s ease-in-out; }
          .destacados .cont_destacados .tarjeta .producto_imagen .cont_img .botones_func {
            position: absolute;
            bottom: 0;
            right: -50px;
            width: 40px;
            height: auto;
            border: solid thin #ff6347;
            background: rgba(255, 255, 255, 0.9);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(1px);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            gap: 5px 0;
            overflow: hidden;
            transition: .7s; }
            .destacados .cont_destacados .tarjeta .producto_imagen .cont_img .botones_func a {
              position: relative;
              width: 40px;
              height: 40px;
              text-decoration: none;
              display: grid;
              place-content: center;
              cursor: pointer;
              transition: .7s; }
              .destacados .cont_destacados .tarjeta .producto_imagen .cont_img .botones_func a ion-icon {
                color: tomato;
                font-size: 1.4rem; }
          .destacados .cont_destacados .tarjeta .producto_imagen .cont_img:hover .botones_func, .destacados .cont_destacados .tarjeta .producto_imagen .cont_img .imgPrimaria:hover .botones_func, .destacados .cont_destacados .tarjeta .producto_imagen .cont_img .imgSecundaria:hover .botones_func {
            bottom: 0;
            right: 0px;
            transition: .7s; }
            .destacados .cont_destacados .tarjeta .producto_imagen .cont_img:hover .botones_func a:hover, .destacados .cont_destacados .tarjeta .producto_imagen .cont_img .imgPrimaria:hover .botones_func a:hover, .destacados .cont_destacados .tarjeta .producto_imagen .cont_img .imgSecundaria:hover .botones_func a:hover {
              background: rgba(255, 99, 71, 0.75);
              box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
              backdrop-filter: blur(3px);
              -webkit-backdrop-filter: blur(3px); }
              .destacados .cont_destacados .tarjeta .producto_imagen .cont_img:hover .botones_func a:hover ion-icon, .destacados .cont_destacados .tarjeta .producto_imagen .cont_img .imgPrimaria:hover .botones_func a:hover ion-icon, .destacados .cont_destacados .tarjeta .producto_imagen .cont_img .imgSecundaria:hover .botones_func a:hover ion-icon {
                color: #fff;
                font-size: 1.4rem; }
      .destacados .cont_destacados .tarjeta.rotar {
        background: #333; }
        .destacados .cont_destacados .tarjeta.rotar .producto_imagen .cont_img .imgPrimaria {
          opacity: 0;
          display: none; }
        .destacados .cont_destacados .tarjeta.rotar .producto_imagen .cont_img .imgSecundaria {
          display: block;
          opacity: 1; }
      .destacados .cont_destacados .tarjeta .textos_tarjeta {
        width: 100%;
        height: 30%;
        text-align: center; }
        .destacados .cont_destacados .tarjeta .textos_tarjeta h2, .destacados .cont_destacados .tarjeta .textos_tarjeta h2 a {
          font-size: 1.5rem;
          color: #FFDE62; }
          .destacados .cont_destacados .tarjeta .textos_tarjeta h2 a {
            text-decoration: none; }
        .destacados .cont_destacados .tarjeta .textos_tarjeta h3 {
          font-size: 1rem;
          color: #FF7C5F; }
      @media screen and (max-width: 576px) {
        .destacados .cont_destacados .tarjeta {
          width: 90%;
          height: 200px; }
          .destacados .cont_destacados .tarjeta.left {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center; }
          .destacados .cont_destacados .tarjeta.right {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center; }
          .destacados .cont_destacados .tarjeta img {
            width: 40%;
            height: 100%;
            object-fit: contain; }
          .destacados .cont_destacados .tarjeta .textos_tarjet {
            width: 60%;
            height: 100%;
            display: grid;
            place-content: center; } }

.figuras_accion {
  width: 100%;
  height: auto;
  margin: 150px auto 0 auto; }
  .figuras_accion h2, .figuras_accion .destacados .cont_destacados .tarjeta .textos_tarjeta h2 a, .destacados .cont_destacados .tarjeta .textos_tarjeta h2 .figuras_accion a {
    width: 100%;
    height: auto;
    text-transform: capitalize;
    display: grid;
    place-content: center;
    font-family: "Poppins", sans-serif;
    color: #FF7C5F;
    font-size: 2.2rem; }
    @media screen and (max-width: 992px) {
      .figuras_accion h2, .figuras_accion .destacados .cont_destacados .tarjeta .textos_tarjeta h2 a, .destacados .cont_destacados .tarjeta .textos_tarjeta h2 .figuras_accion a {
        font-size: 1.98rem; } }
    @media screen and (max-width: 768px) {
      .figuras_accion h2, .figuras_accion .destacados .cont_destacados .tarjeta .textos_tarjeta h2 a, .destacados .cont_destacados .tarjeta .textos_tarjeta h2 .figuras_accion a {
        font-size: 1.65rem; } }
    @media screen and (max-width: 576px) {
      .figuras_accion h2, .figuras_accion .destacados .cont_destacados .tarjeta .textos_tarjeta h2 a, .destacados .cont_destacados .tarjeta .textos_tarjeta h2 .figuras_accion a {
        font-size: 1.54rem; } }
  .figuras_accion .cont_figuras {
    margin-top: 50px;
    height: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 30px 30px; }
    .figuras_accion .cont_figuras .fig1 {
      grid-area: 1 / 1 / 3 / 2; }
    .figuras_accion .cont_figuras .fig2 {
      grid-area: 1 / 2 / 3 / 3; }
    .figuras_accion .cont_figuras .fig3 {
      grid-area: 1 / 3 / 3 / 4; }
    .figuras_accion .cont_figuras .fig4 {
      grid-area: 3 / 1 / 5 / 2; }
    .figuras_accion .cont_figuras .fig5 {
      grid-area: 3 / 2 / 5 / 3; }
    .figuras_accion .cont_figuras .fig6 {
      grid-area: 3 / 3 / 5 / 4; }
    .figuras_accion .cont_figuras .tarjeta_fig {
      position: relative;
      background: rgba(255, 255, 255, 0.4);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(6px);
      -webkit-backdrop-filter: blur(6px);
      border-radius: 8px;
      border: 1px solid rgba(255, 255, 255, 0.18); }
      .figuras_accion .cont_figuras .tarjeta_fig .textos_fig {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center; }
        .figuras_accion .cont_figuras .tarjeta_fig .textos_fig h2, .figuras_accion .cont_figuras .tarjeta_fig .textos_fig .destacados .cont_destacados .tarjeta .textos_tarjeta h2 a, .destacados .cont_destacados .tarjeta .textos_tarjeta h2 .figuras_accion .cont_figuras .tarjeta_fig .textos_fig a {
          width: 100%;
          color: #FF7C5F;
          font-size: 1.5rem; }
        .figuras_accion .cont_figuras .tarjeta_fig .textos_fig h3 {
          width: 100%;
          color: #107263;
          display: block;
          padding-left: 10px;
          font-size: 1.2rem; }
      .figuras_accion .cont_figuras .tarjeta_fig .contImg {
        background: #FFDE62;
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center; }
        .figuras_accion .cont_figuras .tarjeta_fig .contImg img {
          width: 100%;
          height: 100%;
          padding: 10px;
          object-fit: contain; }
      .figuras_accion .cont_figuras .tarjeta_fig .carrito {
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        background: #3F3F3F;
        color: #FFDE62;
        border-radius: 7px;
        display: grid;
        place-content: center;
        transition: .7s; }
        .figuras_accion .cont_figuras .tarjeta_fig .carrito ion-icon {
          font-size: 20px;
          font-weight: 600;
          text-decoration: none; }
        .figuras_accion .cont_figuras .tarjeta_fig .carrito:hover {
          background: #FFDE62;
          color: #3F3F3F; }
    @media screen and (max-width: 992px) {
      .figuras_accion .cont_figuras {
        height: 1400px;
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 20px 20px; }
        .figuras_accion .cont_figuras .fig1 {
          grid-area: 1 / 1 / 3 / 2; }
        .figuras_accion .cont_figuras .fig2 {
          grid-area: 1 / 2 / 3 / 3; }
        .figuras_accion .cont_figuras .fig3 {
          grid-area: 3 / 1 / 5 / 2; }
        .figuras_accion .cont_figuras .fig4 {
          grid-area: 3 / 2 / 5 / 3; }
        .figuras_accion .cont_figuras .fig5 {
          grid-area: 5 / 1 / 7 / 2; }
        .figuras_accion .cont_figuras .fig6 {
          grid-area: 5 / 2 / 7 / 3; }
        .figuras_accion .cont_figuras .tarjeta_fig .textos_fig h2, .figuras_accion .cont_figuras .tarjeta_fig .textos_fig .destacados .cont_destacados .tarjeta .textos_tarjeta h2 a, .destacados .cont_destacados .tarjeta .textos_tarjeta h2 .figuras_accion .cont_figuras .tarjeta_fig .textos_fig a {
          font-size: 1.3rem; }
        .figuras_accion .cont_figuras .tarjeta_fig .textos_fig h3 {
          font-size: 1.2rem; } }
    @media screen and (max-width: 576px) {
      .figuras_accion .cont_figuras {
        height: 1000px; }
        .figuras_accion .cont_figuras .tarjeta_fig .textos_fig h2, .figuras_accion .cont_figuras .tarjeta_fig .textos_fig .destacados .cont_destacados .tarjeta .textos_tarjeta h2 a, .destacados .cont_destacados .tarjeta .textos_tarjeta h2 .figuras_accion .cont_figuras .tarjeta_fig .textos_fig a {
          font-size: 1.2rem; }
        .figuras_accion .cont_figuras .tarjeta_fig .textos_fig h3 {
          font-size: 1.1rem; }
        .figuras_accion .cont_figuras .tarjeta_fig img {
          padding: 10px;
          height: 70%;
          width: 100%;
          object-fit: contain; } }
  @media screen and (max-width: 992px) {
    .figuras_accion {
      width: 98%;
      height: auto; } }

.carrito {
  position: fixed;
  bottom: 70px;
  left: 20px;
  width: 80px;
  height: auto;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center; }
  .carrito .contiene_icons_car {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    width: 72px;
    height: auto;
    background: tomato;
    cursor: pointer;
    padding: 5px 5px 5px 0; }
    .carrito .contiene_icons_car a {
      width: 35px;
      height: 30px;
      display: block;
      text-align: center;
      display: grid;
      place-content: center;
      text-decoration: none; }
      .carrito .contiene_icons_car a ion-icon {
        font-size: 1.2rem;
        vertical-align: middle;
        text-align: center;
        color: #FFDE62; }
    .carrito .contiene_icons_car span {
      display: grid;
      place-content: center;
      width: 30px;
      height: 30px;
      background: #fff;
      color: #107263;
      font-size: 1.2rem;
      vertical-align: middle;
      text-align: center; }

.subir {
  position: fixed;
  width: 44px;
  bottom: 20px;
  left: 30px;
  overflow: hidden;
  z-index: 1;
  border: 2px solid tomato;
  border-radius: 100%;
  padding: 5px; }
  .subir a {
    display: block;
    background: tomato;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: grid;
    place-content: center; }
    .subir a ion-icon {
      font-size: 1.3rem; }

.carritoReal {
  position: fixed;
  background: tomato;
  width: 400px;
  height: auto;
  top: 65px;
  left: 20px;
  padding: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  transform: translate(-30%, 150%);
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  transition: .9s; }
  .carritoReal.ocultar {
    z-index: 1;
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
    transition: .7s; }
  .carritoReal.bloq {
    display: flex; }
  .carritoReal.none {
    display: none; }
  .carritoReal h2, .carritoReal .destacados .cont_destacados .tarjeta .textos_tarjeta h2 a, .destacados .cont_destacados .tarjeta .textos_tarjeta h2 .carritoReal a {
    color: #FFDE62;
    font-family: texto;
    text-transform: capitalize;
    display: grid;
    place-content: center;
    pad: 2px; }
  .carritoReal .aniadido {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px; }
    .carritoReal .aniadido .elemento {
      background: #FFDE62;
      min-width: 100%;
      width: auto;
      height: 50px;
      padding: 0 5px 0 5px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      font-family: "Sintony", sans-serif;
      text-transform: capitalize;
      color: #107263;
      text-decoration: none;
      font-size: 1rem; }
      .carritoReal .aniadido .elemento a {
        display: block;
        height: 90%;
        width: 40px;
        text-decoration: none;
        display: grid;
        place-content: center;
        text-decoration: none;
        color: #e94a4a;
        border-radius: 100%; }
        .carritoReal .aniadido .elemento a:hover {
          cursor: pointer;
          background: #e94a4a;
          color: #fff;
          transition: .7s; }
  .carritoReal p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    height: 50px;
    font-family: "Sintony", sans-serif;
    text-transform: capitalize;
    color: #107263;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700; }
    .carritoReal p .total {
      font-weight: 700; }
  .carritoReal .vacia {
    position: relative;
    height: 50px;
    background-color: #FFDE62; }
    .carritoReal .vacia a {
      display: block;
      height: 100%;
      padding: 15px;
      text-decoration: none;
      font-family: "Sintony", sans-serif;
      text-transform: capitalize;
      color: #e94a4a;
      text-decoration: none;
      font-size: 1rem;
      font-weight: 700;
      display: grid;
      place-content: center; }
      .carritoReal .vacia a:hover {
        cursor: pointer;
        background: #e94a4a;
        color: #fff;
        transition: .7s; }
  .carritoReal .close {
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    padding: 5px;
    border-radius: 100%;
    transition: .7s;
    display: flex;
    align-items: center;
    justify-content: center; }
    .carritoReal .close:hover {
      color: #e94a4a;
      background: #FFDE62; }

.modalContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transform: translate(0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  opacity: 0;
  visibility: hidden; }
  .modalContainer.ocultar {
    z-index: 2;
    opacity: 1;
    visibility: visible; }
  .modalContainer .modal {
    position: relative;
    width: 80%;
    height: 80%;
    min-height: 600px;
    background: tomato;
    padding: 1rem;
    transition: transform .9s;
    transform: translateY(0%);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .modalContainer .modal {
        width: 95%;
        height: auto; } }
    .modalContainer .modal.close {
      transform: translateY(-200%); }
    .modalContainer .modal .superior {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 80%;
      gap: 10px; }
      .modalContainer .modal .superior .izq {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px; }
        .modalContainer .modal .superior .izq img {
          width: 80%;
          height: auto;
          object-fit: contain; }
      .modalContainer .modal .superior .der {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 0px; }
        .modalContainer .modal .superior .der h1 {
          font-size: 2rem;
          font-family: "Poppins", sans-serif;
          font-weight: 600; }
        .modalContainer .modal .superior .der h2, .modalContainer .modal .superior .der .destacados .cont_destacados .tarjeta .textos_tarjeta h2 a, .destacados .cont_destacados .tarjeta .textos_tarjeta h2 .modalContainer .modal .superior .der a {
          font-size: 1.4rem;
          color: #107263;
          text-align: left;
          font-family: "Sintony", sans-serif;
          font-weight: 600;
          justify-content: start; }
        .modalContainer .modal .superior .der p {
          font-family: "Sintony", sans-serif;
          color: #3F3F3F;
          font-weight: 700;
          font-size: 1rem; }
          .modalContainer .modal .superior .der p strong {
            font-family: "Sintony", sans-serif;
            color: #3F3F3F;
            font-weight: 700;
            font-size: 1rem;
            color: #107263; }
        .modalContainer .modal .superior .der .pagos {
          width: 100%;
          height: auto;
          padding: 0px; }
        .modalContainer .modal .superior .der form {
          width: 100%;
          height: auto;
          padding: 0px 0;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-content: flex-start;
          justify-content: space-evenly;
          align-items: flex-start;
          gap: 10px; }
          .modalContainer .modal .superior .der form .form_top {
            display: flex;
            flex-direction: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: flex-start;
            align-items: center;
            height: 35px;
            gap: 0 10px; }
            .modalContainer .modal .superior .der form .form_top label {
              font-family: "Sintony", sans-serif;
              color: #3F3F3F;
              font-weight: 700;
              font-size: 1rem; }
            .modalContainer .modal .superior .der form .form_top .cantidad {
              display: block;
              height: 100%;
              font-family: "Sintony", sans-serif;
              color: #3F3F3F;
              font-weight: 700;
              font-size: 1rem;
              width: 50px; }
          .modalContainer .modal .superior .der form .form_mid {
            display: flex;
            flex-direction: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: flex-start;
            align-items: center;
            height: auto;
            gap: 0 10px; }
            .modalContainer .modal .superior .der form .form_mid .aniadeCarrito {
              display: block;
              width: 150px;
              height: 35px;
              font-family: "Sintony", sans-serif;
              color: #3F3F3F;
              font-weight: 700;
              font-size: 1rem;
              padding: 5px;
              color: #3F3F3F;
              border: none;
              transition: .5s; }
              .modalContainer .modal .superior .der form .form_mid .aniadeCarrito:hover {
                background: #3F3F3F;
                color: #FFDE62; }
            .modalContainer .modal .superior .der form .form_mid .gustar,
            .modalContainer .modal .superior .der form .form_mid .rotar {
              display: block;
              width: 35px;
              height: 35px;
              text-decoration: none;
              font-size: 1.6rem;
              color: #fff;
              display: grid;
              place-content: center;
              transition: .7s; }
              .modalContainer .modal .superior .der form .form_mid .gustar:hover,
              .modalContainer .modal .superior .der form .form_mid .rotar:hover {
                background: #3F3F3F;
                color: #FFDE62; }
      @media screen and (max-width: 768px) {
        .modalContainer .modal .superior {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          align-content: center;
          justify-content: flex-start;
          align-items: center; }
          .modalContainer .modal .superior .izq {
            width: 80%;
            height: 40%; }
            .modalContainer .modal .superior .izq img {
              height: 100%; }
          .modalContainer .modal .superior .der {
            width: 100%;
            height: 60%;
            gap: 10px; }
            .modalContainer .modal .superior .der h1 {
              font-size: 1.3rem; }
            .modalContainer .modal .superior .der h2, .modalContainer .modal .superior .der .destacados .cont_destacados .tarjeta .textos_tarjeta h2 a, .destacados .cont_destacados .tarjeta .textos_tarjeta h2 .modalContainer .modal .superior .der a {
              font-size: 1.2rem; }
            .modalContainer .modal .superior .der p {
              font-size: .9rem; }
              .modalContainer .modal .superior .der p strong {
                font-size: .9rem; }
            .modalContainer .modal .superior .der form {
              gap: 5px; }
              .modalContainer .modal .superior .der form .form_top {
                height: auto;
                gap: 0 10px; }
                .modalContainer .modal .superior .der form .form_top label {
                  font-size: .9rem; }
                .modalContainer .modal .superior .der form .form_top .cantidad {
                  font-size: .9rem; }
              .modalContainer .modal .superior .der form .form_mid {
                gap: 0 7px; }
                .modalContainer .modal .superior .der form .form_mid .aniadeCarrito {
                  width: 150px;
                  height: auto;
                  font-size: .9rem;
                  padding: 5px;
                  color: #3F3F3F; }
                .modalContainer .modal .superior .der form .form_mid .gustar,
                .modalContainer .modal .superior .der form .form_mid .rotar {
                  width: 30px;
                  height: 30px;
                  font-size: 1.4rem; } }
    .modalContainer .modal .inferior {
      width: 100%;
      height: 20%;
      background: rgba(255, 255, 255, 0.329);
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: flex-start;
      justify-content: space-between;
      align-items: flex-start;
      gap: 10px;
      padding: 10px; }
      .modalContainer .modal .inferior .redes, .modalContainer .modal .inferior .palabras_clave {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 35%;
        gap: 5px 5px; }
        .modalContainer .modal .inferior .redes a, .modalContainer .modal .inferior .palabras_clave a {
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          color: #3F3F3F;
          font-size: 20px;
          border-radius: 100%;
          transition: .7s; }
          .modalContainer .modal .inferior .redes a:hover, .modalContainer .modal .inferior .palabras_clave a:hover {
            color: #FFDE62;
            background: #3F3F3F; }
      .modalContainer .modal .inferior .palabras_clave {
        max-width: 65%;
        gap: 10px; }
        .modalContainer .modal .inferior .palabras_clave a {
          width: auto;
          background: tomato;
          padding: 8px;
          border-radius: 5px;
          color: #3F3F3F;
          text-transform: capitalize;
          font-family: "Poppins", sans-serif;
          font-weight: 600;
          border-radius: 0; }
      @media screen and (max-width: 768px) {
        .modalContainer .modal .inferior {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-content: flex-start;
          justify-content: space-between;
          align-items: flex-start; }
          .modalContainer .modal .inferior .redes, .modalContainer .modal .inferior .palabras_clave {
            width: 100%;
            max-width: none;
            height: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: flex-end;
            align-items: center; }
            .modalContainer .modal .inferior .redes a, .modalContainer .modal .inferior .palabras_clave a {
              width: 30px;
              height: 30px;
              font-size: 20px; }
          .modalContainer .modal .inferior .palabras_clave {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            overflow: hidden; }
            .modalContainer .modal .inferior .palabras_clave a {
              width: auto;
              background: tomato;
              padding: 5px;
              font-size: .9rem; } }
    .modalContainer .modal .cerrar {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 2em;
      padding: 5px;
      cursor: pointer;
      border-radius: 100%;
      background: rgba(255, 255, 255, 0.329);
      color: #3F3F3F;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .7s; }
      .modalContainer .modal .cerrar:Hover {
        background: #3F3F3F;
        color: #FFDE62; }
