$colors_redes:( //habemus mapa de prueba
    telegram: #51aff8,
	facebook: #3d7be7,
	linkedin: #0076b8,
    instagram: #d6249f,
	youtube: #ce1312,
    whatsapp:#25D366,
    twitch:  #6441a5,
    github:  #363636,
    cafe: #5e7cce,
    gmail:#F14336,
);

$color_redes_hover:( //habemus mapa de prueba
    telegram: #0574c9,
	facebook: #0041b1,
	linkedin: #00456d,
    instagram: #ad0277,
	youtube: #940000,
    whatsapp:#009b39,
    twitch:  #3c07a0,
    github:  rgb(78, 39, 138),
    cafe: #1944bb,
    gmail:#bd160a,
);