@mixin desktop(){
    @media screen and (max-width: $xl){
        @content;
    }
}

@mixin notebook(){
    @media screen and (max-width: $lg){
        @content;
    }
}

@mixin tablets(){
    @media screen and (max-width: $md){
        @content;
    }
}

@mixin movile(){
    @media screen and (max-width: $sm){
        @content;
    }
}

@mixin caja_flex($direction:row,$wrap:wrap,$al_cont:flex-start,$just_cont:flex-start,$al_item:center){
    display:flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    align-content: $al_cont;
    justify-content: $just_cont;
    align-items: $al_item;
}
/*
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

para movil y tablets  horizontal
320 x 480
1024 x 768
*/

@mixin caja_relative ($ancho, $alto, $margin, $max_ancho:unset){
    position: relative;
    width: $ancho;
    max-width: $max_ancho;
    height: $alto;
    margin:$margin;
}

@mixin ancho_general(){
    width: 80%;
    max-width: 1300px;
    margin: auto;

    @media screen and (max-width: $xl){
        width: 80%;
    }
    @media screen and (max-width: $lg){
        width: 90%;
    } 
    @media screen and (max-width: $md){
        width: 98%;
    }
    @media screen and (max-width: $sm){
        width: 100%;
    }
}

@mixin fuentes ($f_size:$font_normal, $f_weight:$medium, $fuente:$titulo1, $color:#ffff){
    font-family: $fuente;
    font-size: $f_size;
    font-weight: $f_weight;
    color: $color;   
}

//para las cajas contenedoras dentro de una reolativa.. como en el caso de las targetas de los programas.
@mixin caja_absoluta($white, $height, $margen ,$tipo_margen:auto){
    position: absolute;
    width: $white;
    height: $height;

    @if $tipo_margen == t {
        top: $margen;
    } @else if $tipo_margen == b {
        bottom: $margen;
    } else {
        top: $tipo_margen;
    }
} 

@mixin align_mid_grid(){
    display: grid;
    place-content: center;
}
@mixin align_mid_flex(){
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin titulosh2($valor){
    width: 100%;
    height: auto;
    text-transform: capitalize;
    @include align_mid_grid();
    font-family: $titulo1;
    color: $color_titulo2;
    font-size: $valor;//2.2rem;

    @include notebook(){
        //font-size: 2rem;
        font-size: $valor - $valor * 0.10;
    }
    @include tablets(){
        //font-size: 1.6rem;
        font-size: $valor - $valor * 0.25;
    }
    @include movile(){
        //font-size: 1.3rem;
        font-size: $valor - $valor * 0.30;
    }
}
@mixin textosGen(){

}

@mixin left_right(){
    &.left{
        @include caja_flex(row-reverse, wrap, center, center, center);
    }
    &.right{
        @include caja_flex(row, wrap, center, center, center);
    }
}

@mixin margin_principal() {
    margin: 150px auto 0 auto;
}