// ##### PUNTOS DE QUIEBRE #####
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// ##### FUENTES #####
$font_body:( 'Poppins', sans-serif);

// ##### COLORES #####
$por:14;
$header-alto: 60px;
$primer_color: rgb(244, 81, 31);
$primer_color_alt:#f4420b;
$titulo_color: #ffffff;
$text_color: rgb(145, 138, 136);
$text_color_light: rgb(145, 138, 136);

$bg_body: (linear-gradient(90deg, rgb(245, 179, 138) 0%, rgb(246, 62, 30) 100%));
$container_color: linear-gradient(136deg, rgb(38, 39, 38) 0%, rgb(8, 8, 8) 100%);

$bg_1:#FFFFFF;
$hover1:tomato;
$bg_color_naranja: #FF7C5F;
$color_titulo1: #3F3F3F;
$color_titulo2: #FF7C5F;
$color_titulo3: #107263;
$color_titulo4: #FFDE62;



// #####  FONTS WEIGHT #####
$medium:500;
$semi_bold:600;
$bold:900;

// ##### TAMAÑOS FUENTES #####
$font_grande:3.5rem;
$font_mediana:2rem;
$font_h2:1.5rem;
$font_h3:1rem;
$font_normal:.92rem;
$font_small:.82rem;
$font_smaller:.75rem;
// ##### #####
// ##### #####