header{
    //border: solid;
    position: sticky;
    background: #fff;
    z-index: 2;


    .nav{
        top: 2px;
        width: 100%;
        height: 60px;
        @include caja_flex(row, wrap, flex-start, space-between, center);

        .logo{
            @include caja_flex(row, wrap, center, space-around, center);
            height: 100%;
            width: 150px;
            text-decoration: none;
            @include fuentes($font_h3);
            text-transform: capitalize;
            color: $bg_color_naranja;
            font-weight: 800;
            font-size: 1.1rem;
            
            img{
                height: 2rem;
                width: auto;
            }
        }

        .menu{
            width: calc(100% - 160px);
            height: 100%;
            
            .list{
                list-style: none;
                @include caja_flex(row, wrap, center, flex-end, center);
                width: 100%;
                height: 100%;
            
                    .item{
                            list-style: none;

                        a{
                            @include caja_flex(row, wrap, center, center, center);
                            width: 110px;
                            @include fuentes($font_h3);
                            color: $color_titulo1; 
                            text-transform: capitalize;
                            text-decoration: none;
                            border: solid 2px transparent;
                            border-radius: 30px;
                            margin-right: 5px;
                            padding: 10px;
                            cursor: pointer;
                            transition: .5s;

                            &:hover{
                                //background: $hover1;
                                //color: aliceblue;
                                &::before{
                                    content: "";
                                    @include caja_absoluta(8px, 8px, 5px, b);
                                    background:$color_titulo2;
                                    border-radius: 50%;
                                    
                                }
                            }
                            // &.active{
                                
                            // }
                            
                        }       
                        
                    }
            }


            img{
                display: none;
            }

            @include notebook(){
                width: 100%;
                height: 0;
                transition: .9s;
            //a futuro cuando tenga la clase aciva de desplegara
                .list{
                    display: none;
                }
                &.active{
                    margin-top: 0px;
                    width: 100%;
                    transition: .7s;
                    overflow: hidden;
                    height: auto;
                    
                    .list{
                        display: block;
                        width: 100%;
                        height: auto;
                        list-style: none;
                        @include caja_flex(column, wrap, center, flex-end, center);
                        background: #fff;
                    
                            .item{
        
                                a{
                                    position: relative;
                                    @include caja_flex(row, wrap, center, center, center);
                                    transition: .5s;
        
                                    &:hover{
                                        
                                        
                                        &::before{
                                            content: "";
                                            @include caja_absoluta(8px, 8px, 5px, b);
                                            background:$color_titulo2;
                                            border-radius: 10%;
                                            width: 100px;
                                            transition: width 2s;
                                        }
                                            
                                    }
                                    
                                }       
                                
                            }
                    }
                }
            }
        }
        .toggle{
            display: none;
            @include notebook(){
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                width: 60px;
                height: 100%;
                transition: all .4s ease-in-out;

                @include align_mid_grid();
                
                span{
                    display: block;
                    width: 30px;
                    height: 3px;
                    border-radius: 100px;
                    background: $color_titulo1;
                    transition: all .4s ease-in-out;

                    &:not(:last-child){//:last-child de CSS representa el último elemento entre un grupo de elementos hermanos.
                        margin-bottom: 7px;
                    }
                }
            }
            &.active{
                transition-delay: .8s;
                span{
                    &:nth-child(2){
                        width: 0;
                    }
                    &:nth-child(1),&:nth-child(1){
                        transition-delay: .4s;
                    }
                    &:nth-child(1){
                        rotate: 45deg;
                        transform: translate(7px,7px);
                    }
                    &:nth-child(3){
                        rotate: -45deg;
                        transform: translate(7px, -7px);
                    }
                }
            }
        }
        
    }
}