.header{
    //border: solid;
    position: sticky;
    background: #fff;
    z-index: 2;

    .nav{
        position: relative;
        top: 2px;
        width: 100%;
        height: 60px;
        @include caja_flex(row, wrap, flex-start, space-between, center);

        .cajaA{
            min-width: 190px;
            height: 60px;
            background: #444;
            @include caja_flex(row, nowrap, flex-start, flex-start, center);
            gap: 5px;
            padding-right: 5px;
            
            .logo{
                @include caja_flex(row, wrap, center, space-around, center);
                height: 100%;
                width: 150px;
                text-decoration: none;
                @include fuentes($font_h3);
                text-transform: capitalize;
                color: $bg_color_naranja;
                font-weight: 800;
                font-size: 1.1rem;
                
                img{
                    height: 2rem;
                    width: auto;
                }
            }
            .contieneBuscador{
                width: auto;
                height: 100%;
                @include caja_flex(row, nowrap, center, flex-start, center);
                transition: .7s;
    
                .row{
                    height: 34px;
                    width: auto;
                    background: $color_titulo2;
                    border-radius: 150px;
                    border: 1px solid $colorBorde1;
                    display: flex;
    
                    .search{
                        background: transparent;
                        color: #fff;
                        font-size: 1rem;
                        font-weight: 600;
                        font-family: $parrafo1;
                        border: none;
                        width: 0;
                        padding: 0;
                        outline: none;
                        transition: .5s;
                        
                        &::placeholder{
                            color: $color_titulo5;
                            font-size: .9rem;
                        }

                    }
                    .icon{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: $color_titulo5;
                        border-radius: 50%;
                        width: 28px;
                        height: 28px;
                        margin: 2px;
                        ion-icon{
                            position: absolute;
                            color: $color_titulo2;
                            transition: .7s;
                            &.busca{
                                opacity: 1;
                            }
                            &.busca2{
                                opacity: 0;
                            }
                        }
                    }
                    .submitBuscador{
                        background:tomato;
                        // border: none;
                    }

                    &:hover {
                        .search{
                            width: 100px;
                            padding-left: 15px;
                                &:focus,
                                &:not(:placeholder-shown){
                                    padding-left: 15px;
                                }
                            }
                            .icon{
                                ion-icon{
                                    &.busca{
                                        opacity: 0;
                                    }
                                    &.busca2{
                                        opacity: 1;
                                    }
                                }
                            }
                        } 
                }   
                
            }

        }

        .menu{
            max-width: calc(100% - 190px);
            width: auto;
            height: 100%;
            
            .list{
                list-style: none;
                @include caja_flex(row, wrap, center, flex-end, center);
                width: 100%;
                height: 100%;
                gap: 2px;
            
                    .item{
                            list-style: none;

                        a{
                            @include caja_flex(row, wrap, center, center, center);
                            width: 105px;
                            @include fuentes($font_h3);
                            color: $color_titulo1; 
                            text-transform: capitalize;
                            text-decoration: none;
                            border: solid 2px transparent;
                            border-radius: 30px;
                            padding: 10px;
                            cursor: pointer;
                            transition: .5s;

                            &::before{
                                content: "";
                                @include caja_absoluta(0px, 0px, 10px, b);
                                border-radius: 5px;
                                transition: .7s;
                            }

                            &:hover{
                                //background: $hover1;
                                //color: aliceblue;
                                transition: .7s;

                                &::before{
                                    content: "";
                                    @include caja_absoluta(7px, 7px, 6px, b);
                                    background:$color_titulo2;
                                    border-radius: 5px;
                                    transition: .7s ease-in-out;                      
                                    
                                }
                                
                            }
                            &.active{
                                color: tomato;
                                &::before{
                                    content: "";
                                    @include caja_absoluta(7px, 7px, 6px, b);
                                    background:$color_titulo2;
                                    border-radius: 2px;
                                    transition: agrandar ease-in 20s;
                                }
                            }
                            
                            @include desktop(){
                                width: 95px;
                                font-size: 1rem;
                            }
                            
                        }       
                        
                    }
            }


            .li_usuarioActivo{
                display: none;
            }
            &.userActivo{
                #usuarioLog{
                    display: none;
                }
                .li_usuarioActivo{
                    position: relative;
                    left: 0;
                    @include caja_flex(row, nowrap, center, flex-start, center);
                    gap: 0 5px;
                    width: 110px;
                    overflow: hidden;
                    white-space: nowrap;

                    @include fuentes($font_h3);
                    color: $color_titulo1;
                    text-transform: capitalize;
                    text-decoration: none;
                    border: solid 2px transparent;
                    border-radius: 10px;
                    padding: 0px;
                    cursor: pointer;
                    transition: .5s;

                    .caja_img{
                        position: relative;
                        min-width: 40px;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        border: solid 2px $color_titulo2;
                        overflow: hidden;
                        background: $color_titulo1;
                        @include align_mid_grid();

                        .iconUs{     
                            display: block;                   
                            width: 98%;
                            height: 98%;
                            object-fit: contain;
                        }
                    }
                    
                }
            }

            
        }
        .toggle{
            display: none;
            @include notebook(){
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                width: 60px;
                height: 100%;
                transition: all .4s ease-in-out;

                @include align_mid_grid();
                
                span{
                    display: block;
                    width: 30px;
                    height: 3px;
                    border-radius: 100px;
                    background: $color_titulo1;
                    transition: all .4s ease-in-out;

                    &:not(:last-child){//:last-child de CSS representa el último elemento entre un grupo de elementos hermanos.
                        margin-bottom: 7px;
                    }
                }
            }
            
        }

        @include notebook(){
            height: 60px;
            transition: all .5s ease-in-out;
            overflow: hidden;

            .logo{
                background: #444;
                height: 60px;
                width: 200px;             
            }

            .toggle{
            
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                width: 60px;
                height: 60px;
                transition: all .4s ease-in-out;
            
                @include align_mid_grid();

            }
    
            .menu{
                    position: absolute;
                    top: 60px;
                    width: auto;
                    height: auto;
                //a futuro cuando tenga la clase aciva de desplegara
                    max-width: calc(100%);
                    
                    .list{
                        display: none;
                    }
    
            }


            &.active {
                height: 320px;
                transition: .5s;
                background-color: #444;

                .toggle{
                    transition-delay: .5s;
                    span{
                        background: $color_titulo4;
                    }
                    span{
                        &:nth-child(2){
                            width: 0;
                        }
                        &:nth-child(1),&:nth-child(1){
                            transition-delay: .4s;
                        }
                        &:nth-child(1){
                            rotate: 45deg;
                            transform: translate(7px,7px);
                        }
                        &:nth-child(3){
                            rotate: -45deg;
                            transform: translate(7px, -7px);
                        }
                    }
                }

                .menu{
                        position: absolute;
                        margin-top: 0px;
                        width: 100%;
                        height: auto;

                        .list{
                            display: block;
                            width: 100%;
                            height: auto;
                            list-style: none;
                            @include caja_flex(column, wrap, center, flex-end, center);
                        
                                .item{
            
                                    a{
                                        color: $color_titulo4; 
                                        position: relative;
                                        @include caja_flex(row, wrap, center, center, center);
                                        transition: .5s;
            
                                        &:hover{
                                            
                                            
                                            &::before{
                                                content: "";
                                                @include caja_absoluta(8px, 8px, 5px, b);
                                                background:$color_titulo2;
                                                border-radius: 10%;
                                                width: 100px;
                                                transition: width 2s;
                                            }
                                                
                                        }
                                        
                                    }       
                                    
                                }
                        }
                    
                }
            }
        }
        
    }

    .seccionlogin{
        position: absolute;
        background: $color_titulo1;
        width: 500px;
        height: 500px;
        top: 65px;
        right: 0;
        padding: 10px;
        @include caja_flex(row, wrap, flex-start, center, center );
        overflow: hidden;
        border-radius: 2px; 
        z-index: 0;
        opacity: 0;
        visibility: hidden; 
        transition: .7s;
    
        @include tablets(){
            width: 500px;
    
        }
        @include movile(){
            width: 100%;
        }
    
        &.mostrar{
            z-index: 1;
            opacity: 1;
            visibility: visible; 
            transform: translate(0, 0);
            transition: .7s;
        }
        &.bloq{
            display: flex;
        }
        &.none{
            display: none;
        }

        .closeForm{
            position: absolute;
            top: 7px;
            right: 7px;
            padding: 6px;
            color: $color_titulo5;
            border: solid 3px $color_titulo5;
            border-radius: 50%;
            @include align_mid_grid();
            font-size: 1.3rem;
            transition: .7s;
    
            &:hover{
                color: $hover1;
                border: solid 3px $hover1;
            }
        }
        
    }
    
    .usuarioActivoMenu{
        position: absolute;
        background: $color_titulo1;
        width: 500px;
        height: 400px;
        top: 65px;
        right: 0;
        padding: 10px;
        @include caja_flex(row, wrap, flex-start, center, center );
        overflow: hidden;
        border-radius: 3px; 
        z-index: 0;
        opacity: 0;
        visibility: hidden; 
        transition: .7s;
    
        @include tablets(){
            width: 500px;
    
        }
        @include movile(){
            width: 100%;
        }

        &.mostrar{
            z-index: 1;
            opacity: 1;
            visibility: visible; 
            transform: translate(0, 0);
            transition: .7s;
        }
        &.bloq{
            display: flex;
        }
        &.none{
            display: none;
        }
    }
}