
h1,h2,h3,h4, a{
    color: $titulo_color;
    font-weight: $semi_bold;
}

//generalizo lo basico
header, main, footer{
    position: relative;
    top: 0;
    @include ancho_general;
    height: auto;
}





