.banner{
    top: 0;
    width: 100%;
    height: 600px;

    .envoltura_art {
        width: 100%;
        height: 100%;

        .art_princial{
            margin-top: 50px;
            width: 100%;
            height: 100%;
            @include caja_flex(row, wrap, center, flex-start, center);

            .caja{
                width: 50%;
                height: 100%;
                overflow: hidden;
                gap: 10px;

                @include caja_flex(row, wrap, center, flex-start, center);

                @include tablets(){
                width: 98%;
                margin: auto;
                
                &.left{
                    height: 40%;
                }
                &.right{
                    height: 60%;
                    display: flex;
                    @include caja_flex(column, nowrap,flex-start, center,flex-start);
                    gap: 10px;

                }

                @include caja_flex(row, wrap, center, flex-start, center);
                }

                .titulo{
                    width: 100%;
                    font-family: $font_body;
                    font-size: $font_grande;
                    font-weight: 900;
                    text-transform: uppercase;
                    margin: 0;
                    padding: 0;

                    @include tablets(){
                        font-size: $font_mediana;
                    }
                }
                .precio{
                    width: 100%;
                    font-family: $font_body;
                    font-size: $font_mediana;
                    margin: 0;
                    padding: 0;
                    @include tablets(){
                        font-size: $font_h2;
                    }
                }
                .textos{
                    width: 100%;
                    font-family: $font_body;
                    font-size: $font_normal;
                    color: #fff;
                    margin: 0;
                    padding: 0;
                }
                a{
                    display: block;
                    width: 110px;
                    background: tomato;
                    padding: 15px;
                    text-decoration: none;
                    border-radius: 10%;
                    @include tablets(){
                        font-size: $font_small;
                    }
                        
                }
                .descuento{
                    @include caja_absoluta(55px, 55px, 0 ,t);
                    left: 1px;
                    background: red;
                    color: $titulo_color;
                    font-size: 1.4rem;
                    font-weight: 600;
                    display: grid;
                    place-content: center;
                    border-radius: 0 10px 0 10px;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    margin: auto;
                
                    @include tablets(){
                        height: 100%;
                        width:auto;
                    }
                }
            }       
        }
    }
    --swiper-navigation-size:20px;
    .swiper-button-next, .swiper-button-prev {
        position: absolute;
        top: 50%;
    }
}