.carrito{
    position: fixed;
    bottom: 70px;
    left: 20px;
    width: 80px;
    height: auto;
    overflow: hidden;
    z-index: 1;
    @include caja_flex(row, wrap, center, flex-end, center);

    @include tablets(){
        left: 10px;
    }
    @include movile(){
        left: 5px
    }

    .contiene_icons_car{
        @include caja_flex(row, wrap, center, flex-start, center);
        width: 72px;
        height: auto;
        background: tomato;
        cursor: pointer;
        padding: 5px 5px 5px 0;

        a{
            width: 35px;
            height: 30px;
            display: block;
            text-align: center;
            @include align_mid_grid();
            text-decoration: none;

            ion-icon{
                font-size: 1.2rem;
                vertical-align: middle;
                text-align: center;
                color: $color_titulo4;
            }
        }
        span{
            @include align_mid_grid();
            width: 30px;
            height: 30px;
            background: #fff;
            color: $color_titulo3;
            font-size: 1.2rem;
            vertical-align: middle;
            text-align: center;
        }
    }
}

.subir{
    position: fixed;
    width: 44px;
    bottom: 20px;
    left: 40px;
    overflow: hidden;
    z-index: 1;
    border: 2px solid tomato;
    border-radius: 100%;
    padding: 5px;

    @include tablets(){
        left: 30px;
    }
    @include movile(){
        left: 24px
    }
    
    a{  
        display: block;
        background: tomato;
        color: $color_titulo5;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        @include align_mid_grid();

        ion-icon{
            font-size: 1.3rem;
        }
    }
}

.carritoReal{
    position: fixed;
    background: tomato;
    width: 400px;
    height: auto;
    top: 65px;
    left: 20px;
    padding: 15px;
    overflow: hidden;   
    
    @include tablets(){
        width: 80%;
        left: 10px;
    }
    @include movile(){
        width: 95%;
    }

    @include caja_flex(column,wrap,flex-start,flex-start,flex-start);
    gap:10px;
    transform: translate(-30%, 150%);
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    transition: .9s;

    &.ocultar{
        z-index: 1;
        opacity: 1;
        visibility: visible; 
        transform: translate(0, 0);
        transition: .7s;
    }
    &.bloq{
        display: flex;
    }
    &.none{
        display: none;
    }
    
    h2{
        color: $color_titulo4;
        font-family: texto;
        text-transform: capitalize; 
        @include align_mid_grid();
        pad: 2px; 
    }
    .aniadido{
        width: 100%;
        height: auto;
        @include caja_flex(column,wrap,flex-start,flex-start,flex-start);
        gap: 10px;

        .elemento{
            background: $color_titulo4;
            min-width: 100%;
            width: auto;
            height: 50px;
            padding: 0 5px 0 5px;
            @include caja_flex(row,wrap,center,space-between,center);
            gap:10px;
    
            font-family: $parrafo1;
            text-transform: capitalize;
            color: $color_titulo3;
            text-decoration: none;
            font-size: 1rem;
    
            a{
                display: block;
                height: 90%;
                width: 40px;
                text-decoration: none;
                @include align_mid_grid();
                text-decoration: none;
                color: $color_titulo6;
                border-radius: 100%;
                
                &:hover{
                    cursor: pointer;
                    background: $color_titulo6;
                    color: $color_titulo5;
                    transition: .7s;
                }
            }
            p{
                display: block;
                font-family: $parrafo1;
                text-transform: capitalize;
                color: $color_titulo3;
                font-weight: 700;
                font-size: .9rem;
                @include caja_flex(row,wrap,center,space-between,center);

                &.nombre{
                    color: $color_titulo3;
                    display: flex;
                    gap: 0 10px;
                    .numeroProd{
                        color: $color_titulo6;
                    }
                }
                &.precio{
                    color: $color_titulo3;
                }

            }
        }
    }
    p{   
        @include align_mid_flex();
        padding: 2px;
        height: 50px;
        font-family: $parrafo1;
        text-transform: capitalize;
        color: $color_titulo3;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 700;
        gap: 0 10px;

        strong{
            color: $color_titulo6;
            font-size: 1rem;
        }
        .total{        
            font-weight: 700;
        }
    }
    .vacia{
        position: relative;
        height: 50px;
        background-color: $color_titulo4;

        a{
            display: block;
            height: 100%;
            padding: 15px;
            text-decoration: none;
            font-family: $parrafo1;
            text-transform: capitalize;
            color: $color_titulo6;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 700;

            @include align_mid_grid();
            &:hover{
                cursor: pointer;
                background: $color_titulo6;
                color: $color_titulo5;
                transition: .7s;
            }
        }
    }
    .close{
        position: absolute;
        display: block;
        top: 10px;
        right: 10px;
        font-size: 1.5rem;
        cursor: pointer;
        text-decoration: none;
        padding: 5px;
        border-radius: 100%;
        transition: .7s;
        @include align_mid_flex();

        &:hover{
            color: $color_titulo6;
            background: $color_titulo4;
        }
    }

}