.categorias {
    width: 100%;
    height: auto;
    margin-top: 150px;
    // scroll-snap-align: start;

    @include tablets() {
        height: auto;
    }

    h2 {
        @include titulosh2(2.2rem);
    }

    .cont_categorias {
        margin-top: 100px;
        width: 100%;
        height: 620px;

        background: $hover1;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(1.5px);
        -webkit-backdrop-filter: blur(1.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        padding: 8px;

        @include caja_flex(row, wrap, center, space-between, center);

        @include notebook(){
            height: 540px
        }

        @include tablets() {
            @include caja_flex(column, nowrap, flex-start, space-between, center);
            height: 800px;

        }

        @include movile(){
            height: 830px;
        }

        .targeta_simple {
            position: relative;
            width: 32%;
            height: calc(100% - 80px);
            @include caja_flex(column, wrap, center, flex-end, center);
            border: solid thin $hover1;
            border-radius: 10px;

            img {
                width: 100%;
                height: 60%;
                object-fit: contain;
            }

            .textos_target {
                width: 100%;
                height: 30%;
                gap: 10px 0;
                @include caja_flex(row, wrap, center, center, center);

                .title_targ {
                    position: absolute;
                    top: 0;
                    height: 10%;
                    @include align_mid_grid();
                    @include titulosh2(1.8rem);
                    font-family: $titulo1;
                    color: $color_titulo5 ;
                    font-weight: 700;
                }

                p,
                .title_targ {
                    text-align: center;
                    width: 90%;
                    text-decoration: none;
                }

                p {
                    @include titulosh2(1rem);
                    font-family: $parrafo1;
                    color: $color_titulo3;
                    font-weight: 400;
                }
            }

            @include tablets() {
                width: 100%;
                height: 32%;

                img {
                    width: 40%;
                    height: 100%
                }

                .textos_target {
                    width: 60%;
                    height: 100%;
                    gap: 10px 0;

                    a {
                        position: relative;
                    }
                }

                @include left_right();

            }
        }
        .boton_todos{
            width: 100%;
            height: 80px;

            @include caja_flex(row, wrap, center, center, center);

            a{
                display: block;
                text-decoration: none;
                font-family: $parrafo1;
                background: $color_titulo1;
                color: $color_titulo5;
                border: solid 1px $color_titulo1;
                font-weight: 700;
                font-size: 1.2rem;
                border-radius: 2px;
                padding: 15px 30px;
                text-transform: capitalize;
                border-radius: 2px;
                transition: .7s ease-in-out;

                &:hover{
                    background: $colorBorde1;
                    color: $color_titulo4;
                    border: solid 1px $color_titulo4;
                }
            }

        }

    }
}